<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class= "list-unstyled">
            <% @users.each do |user| %>
            
           
                    <li>
                      <div class="well row <%= cycle('white','' )%>">
                        <div class="col-sm-4 text-center"> 
                        
                        <% if user.profile %>
                            <%= link_to user do %>                  
                             <%= image_tag user.profile.avatar.url,class: 'user-show-avatar' %>
                        <% end %>
                        
                        </div> 
                        <div>
                            <%= link_to user do %>   
                                <h2><%= user.profile.first_name %> <%= user.profile.last_name %></h2>
                            <% end %>
                            <p>
                                <%= user.profile.job_title %>
                                <% if user.plan_id == 2 %>
                                    <span class="label label-danger">pro</span>
                                <% end %>
                            </p>
                            
                
                        </div>
                    <% end %>
                     </div>
                  </li>
            <% end %>
        </ul>
    </div>
</div>